@using X.PagedList.Mvc.Core;
@model X.PagedList.PagedList<Livro>;
@{
    ViewData["Title"] = "Listagem de Livros";
}


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblioteca</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" id="menuLivros">Livros</a>
                            <div class="dropdown-menu" aria-labelledby="menuLivros">
                                <a class="dropdown-item" href="/Livro/Listagem">Listagem</a>
                                <a class="dropdown-item" href="/Livro/Cadastro">Cadastro</a>
                            </div>
                        </li>                       
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Emprestimo</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Emprestimo/Listagem">Listagem</a>
                                <a class="dropdown-item" href="/Emprestimo/Cadastro">Cadastro</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Usuários</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Usuario/Listagem">Listagem</a>
                                <a class="dropdown-item" href="/Usuario/Cadastro">Cadastro</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>




<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Autor">Autor</option>
                <option value="Titulo">Título</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped"> 
            <thead>
                <tr><th>Id</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Livro l in Model)
                {
                <tr>
                    <td>@l.Id</td>
                    <td>@l.Titulo</td>
                    <td>@l.Autor</td>
                    <td>@l.Ano</td>
                    <td><a href="/Livro/Edicao/@l.Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model, pagina => Url.Action("Listagem", new { pagina = pagina }),
            new X.PagedList.Mvc.Common.PagedListRenderOptions{
                DisplayItemSliceAndTotal = true,
                ContainerDivClasses = new[] {"navigation"},
                LiElementClasses = new[] {"page-item"},
                PageClasses = new[] {"page-link"}
            }
        )
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(
            function (){
                $('ul.pagination > li.disabled > a').addClass('page-link');
            }
        );  
    </script>
}